*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/google-services.json

# Build outputs
**/build/
*.apk
*.aab
*.dex
*.class

# Android
bin/
gen/
out/

# Local config
*.keystore
