rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow create, read, update, delete:
        if request.auth != null
        && request.auth.uid == userId;
    }

    match /users/{userId}/transactions/{transactionId} {
      allow read:
        if request.auth != null
        && request.auth.uid == userId;
      allow create:
        if request.auth != null
        && request.auth.uid == userId
        && request.resource.data.amount is number
        && request.resource.data.amount > 0
        && request.resource.data.type in ['income', 'expense', 'transfer']
        && request.resource.data.date is timestamp;
      allow update:
        if request.auth != null
        && request.auth.uid == userId
        && request.resource.data.amount is number
        && request.resource.data.amount > 0
        && request.resource.data.type in ['income', 'expense', 'transfer']
        && request.resource.data.date is timestamp;
      allow delete:
        if request.auth != null
        && request.auth.uid == userId;
    }

    match /users/{userId}/categories/{categoryId} {
      allow create, read, update, delete:
        if request.auth != null
        && request.auth.uid == userId;
    }

    match /users/{userId}/wallets/{walletId} {
      allow read:
        if request.auth != null
        && request.auth.uid == userId;
      allow create, update, delete:
        if request.auth != null
        && request.auth.uid == userId
        && request.resource.data.currentBalance is number;
    }

    match /users/{userId}/budgets/{document=**} {
      allow read, write:
        if request.auth != null
        && request.auth.uid == userId;
    }

    match /users/{userId}/recurring/{document=**} {
      allow read, write:
        if request.auth != null
        && request.auth.uid == userId;
    }

    match /users/{userId}/savings_goals/{document=**} {
      allow read, write:
        if request.auth != null
        && request.auth.uid == userId;
    }

    match /users/{userId}/savings_challenges/{document=**} {
      allow read, write:
        if request.auth != null
        && request.auth.uid == userId;
    }
  }
}
